.courses{ 
    padding: 1rem;
    text-align: center;
    background-color: #f2f2f2;
    font-size: 1.3rem;
}
.Subjects-Container {
    display: flex; 
    justify-content: space-between; 
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px; 
    padding: 1rem;
    flex-wrap: wrap;
  }
  
  
  .Computing-Courses {
    flex: 1; 
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .Design-Courses {
    flex: 1; 
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .course-list{
    margin-top:2rem;
  }
    .subject-section {
      margin-bottom: 1rem; 
    }
    .subject-card {
        flex: 1 1 calc(33% - 2rem); 
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff;
      }
      
      .subject-card h4 {
        font-size: 1.2rem;
        font-weight: bold;
      }
      
      .subject-card p {
        font-size: 0.9rem;
        margin: 0.5rem 0;
      }
  