/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/campus-map/CampusMap.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Campus-head {
  text-align: center;
  margin-bottom: 1rem;
}

.Campus-head h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.Campus-head p {
  font-size: 1.2rem;
  color: #555;
}

.campus-map-section {
  display: block;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.campus-map-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .Campus-head h2 {
    font-size: 2rem;
  }

  .Campus-head p {
    font-size: 1.5rem;
  }

  .campus-map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
  }

  .campus-map-image {
    max-width: 100%;
    height: auto;
  }
}

