/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/students/students.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.students-page {
  font-family: Arial, sans-serif;
  margin: 10px; 
  line-height: 1.6;
  text-align: center;
}

.students-page h2 {
  color: #2a5d84;
  font-size: 1.5rem; 
}

.facility-section h3 {
  color: #1f4b6e;
  margin-top: 15px; 
  text-align: center;
}

.facility-section ul {
  padding-left: 10px; 
  list-style: none; 
}

.facility-section li {
  margin-bottom: 8px; 
}

@media (min-width: 768px) {
  .students-page {
      margin: 20px; 
  }

  .students-page h2 {
      font-size: 2rem; 
  }

  .facility-section h3 {
      margin-top: 20px;
  }

  .facility-section ul {
      padding-left: 20px; 
  }

  .facility-section li {
      margin-bottom: 10px;
  }
}

