/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/students/students.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.students-page {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    text-align: center;
  }
  
  .students-page h2 {
    color: #2a5d84;
  }
  
  .facility-section h3 {
    color: #1f4b6e;
    margin-top: 20px;
    text-align: center;
  }
  
  .facility-section ul {
    list-style-type: disc;
    padding-left: 20px;
    list-style-type: none;
  }
  
  .facility-section li {
    margin-bottom: 10px;
  }
  
