.welcome {
    padding: 1rem;
    text-align: center;
    background-color: #e1e1e1;
}
.AboutUs{
    padding: 2rem;
    text-align: center;
  
}
.Facilities{
    text-align: center;
    font-size: 1.5rem;
    }
.Facilities h2{
    text-decoration: underline;
}

.Facilities-list h3{
    font-size: 1.5rem;
text-decoration: underline;
}
.welcome {
    background-color: #f4f4f4;
    text-align: center;
    padding: 2rem;
  }
  
  .welcome p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .AboutUs {
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
  }
  
  .AboutUs h1 {
    font-size: 1.8rem;
    color: #333;
  }
  
  .AboutUs p {
    font-size: 1.5rem;
    color: #555;
  }
  
  .Facilities {
    padding: 2rem;
    background-color: #f2f2f2;
  }
  
  .Facilities h2 {
    font-size: 1.8rem;
    color: #333;
  }
  .Facilities-list li{
    text-align: center;
    list-style-type: none;
    padding-right: 2rem;
  }
  .Facilities-list ul {
    list-style-type: disc;
    font-size: 1.3rem;
  }