footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
}
.Cantor-College-Welcome h1{
    text-align: center;
}
@media (max-width:768px){
   .Cantor-College-Welcome h1{
    background-color:#003366;
    }
}