/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/Components/Navbar.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 0;
  background-color: #003366;
  flex-wrap: wrap;
}

.navbar-menu.hidden {
  display: none;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.navbar-menu li a:hover {
  color: #0070f3;
}

.hamburger {
  display: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (min-width: 768px) {
  .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .navbar-menu li {
    margin: 0 15px;
  }

  .navbar-menu li a {
    font-size: 1.1rem;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1.6rem;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-menu li a {
    font-size: 1.2rem;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    color: white;
  }

  body {
    padding-top: 0rem;
  }

  header {
    position: relative;
  }

  h1 {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/layout.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 0px;
}

.Cantor-College-Welcome h1 {
    text-align: center;
    background-color: #003366; 
}

.cantor-college-logo {
    width: 150px;
    height: 150px;
    background-image: url('/images/website-images-assets/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}


@media (min-width: 768px) {
    .Cantor-College-Welcome h1 {
        background-color: transparent; 
    }
}

