/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/Home.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.welcome {
    padding: 1rem;
    text-align: center;
    background-color: #e1e1e1;
}
.AboutUs{
    padding: 2rem;
    text-align: center;
  
}
.Facilities{
    text-align: center;
    }
h4{
    font-size: 18px;
    text-decoration: underline;
}
li{
    text-align: center;
    list-style-type: none;
}
h5{
    font-size: 18px;
    text-decoration: underline;
}
.welcome {
    background-color: #f4f4f4;
    text-align: center;
    padding: 2rem;
  }
  
  .welcome p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .AboutUs {
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
  }
  
  .AboutUs h3 {
    font-size: 1.8rem;
    color: #333;
  }
  
  .AboutUs p {
    font-size: 1.1rem;
    color: #555;
  }
  
  .Facilities {
    padding: 2rem;
    background-color: #f2f2f2;
  }
  
  .Facilities h4 {
    font-size: 1.6rem;
    color: #333;
  }
  
  .Facilities ul {
    list-style-type: disc;
    margin-left: 2rem;
    font-size: 1.1rem;
  }
  
  .Facilities li {
    margin-bottom: 0.8rem;
  }
  
