/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/Home.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.welcome {
    padding: 2rem;
    text-align: center;
    background-color: #e1e1e1;
}
.AboutUs{
    padding: 2rem;
    text-align: center;
  
}
.Facilities{
    text-align: center;
    }
h4{
    font-size: 18px;
    text-decoration: underline;
}
li{
    text-align: center;
    list-style-type: none;
}
h5{
    font-size: 18px;
    text-decoration: underline;
}
